##################
#   fixed file   #
##################
*.pyc
*.bak
*.sqlite3
*.conf
*.ini
uwsgi_params

##################
#     folder     #
##################
!.gitignore
!/static/img/
!/media/read.text