##################
#   fixed file   #
##################
*.pyc
*.bak
*.sqlite3
*.conf
*.ini
uwsgi_params
!.gitignore
!/media/read.text

##################
#     folder     #
##################
!/static/img/
/media/
