{% extends "blog/blog_base.html" %}
{% block title %} 关于 | XycZero's Blog  {% endblock %}
{% block article %}
<div class="about">
<h2 id="关于我">关于我</h2>

<ul>
<li>兜兜夓是一名计算机专业的本科生，毕业于南京某普通211大学，目前在南京某日企从事Android软件的相关开发。 <br>
<hr></li>
</ul><div class="se-section-delimiter"></div>

<h2 id="关于个人博客">关于个人博客</h2>

<ul>
<li><p>目的——建立个人博客网站目的是为了督促自己更好的记录和总结平时的学习经验和收获，同时给自己创造一个更加相对自由、个性化的写作空间和交流平台。</p></li>
<li><p>内容——本个博的内容包括但不限于<strong>生活</strong>，<strong>读书</strong>，<strong>技术</strong>，<strong>碎念</strong>，其中<strong>碎念</strong>是主要用来吐槽生活中的“负能量”。</p></li>
<li><p>技术——搭建个人博客网站所涉及的技术包括Django+Bootstrap(并未采用其栅格布局，主要是利用其Bootstrap.css)+MySQL，服务器是部署在阿里云ESC上，代码托管至github。</p></li>
<li><p>申明——本个人博客网站在搭建过程中参考并学习了<strong><a href="http://blog.acgtyrant.com/">Tyrant’s Blog</a></strong>，<strong><a href="http://www.xukailun.me/">RealBlog</a></strong>和<strong><a href="http://www.liangfeizc.com/">Zealous Carrier</a></strong>的博客网站前端设计，对于所提供地帮助在此表示由衷地感谢。</p></li>
<li><p>最后——鉴于本人技术水平有限，写作能力也在努力提升中，所以请各位“看官”不喜轻喷(::&gt;_&lt;::)。</p>

<hr></li>
</ul><div class="se-section-delimiter"></div>

<h2 id="兴趣爱好">兴趣爱好</h2>

<ul>
<li>我的<a href="https://github.com/xyczero">github</a>： <br>
<ul><li>Android</li>
<li>Python</li>
<li>Java</li>
<li>HTML+CSS+jQuery</li></ul></li>
<li>运动： <br>
<ul><li>体育运动，包括篮球，乒乓球，羽毛球 … …</li>
<li>电子竞技运动 <br>
<hr></li></ul></li>
</ul><div class="se-section-delimiter"></div>

<h2 id="联系方式">联系方式</h2>

<ul>
<li>邮箱：<strong>xyczero@sina.com</strong>，随时欢迎交流沟通。 <br>
</li>
<hr></ul>
</div>
{% endblock %}