{% extends "blog/blog_base.html" %}

{% block title %}
	{% if blogs.has_previous %}
		第 {{blogs.number}} 页 | 
	{% endif %}
	{% if is_tag %}
		{{is_tag.name}} | 
	{% elif is_category %}
		{{is_category.name}} | 
	{% endif %}
	 XycZero's Blog 
{% endblock %}

{% block article %}
	{% for blog in blogs %}
		<article class="post">
			<aside class="entry-meta">
				<time datetime="2014-06-30T06:59:31.480Z" class="post-date">
					<div class="post-month">{{blog.create_time| date:"M"}}</div>
					<div class="post-day">{{blog.create_time|date:"d"}}日</div>
				</time>
			</aside>
    		<div class="post-content">
    			<header>
      				<h1 class="title"><a href="{% url 'blog:article' blog.id %}">{{ blog.title }}</a></h1>
      				<div class="entry-info">
      					   分类 :
      					   	 {% if blog.category %}
      						 	<a href="{% url 'blog:category' blog.category.name %}" title="查看包含{{blog.category.name}}的全部文章" >{{blog.category.name}}</a>
      						 {% endif %}
      					| 标签 :
      						 {% for tag in blog.tags.all %}
      						 	{% if forloop.first %}
      								<a href="{% url 'blog:tag' tag.name %}" title="查看包含{{tag.name}}的全部文章" rel="tag" >{{tag.name}}</a>
      							{% else %}
      								<a href="{% url 'blog:tag' tag.name %}" title="查看包含{{tag.name}}的全部文章" rel="tag" >&nbsp{{tag.name}}</a>
      							{% endif %}
      						 {% endfor %}
      					| 作者:兜兜夓
      					<br>更新于：{{blog.update_time|date:"Y-m-d h:m"}}
					</div>
				</header>
				{% if is_ct %}
        			<div class="entry-mycustom"><span id={{blog.id}}>{% autoescape off %}{{ blog.content_html|truncatechars:500}}{% endautoescape %}</span></div>
        			<script type="text/javascript">
						$(function() {
							$(".entry-mycustom > span").each(function(){
								var content_length=$(this).html().length;
								if(content_length>=488 && $(this).attr('id')=={{blog.id}}){
									$(this).after("<div class='entry-readmore '><a href='{% url "blog:article" blog.id %}'> 阅读全文 →</a></div><footer><div class='clearfix'></div></footer>");
								}
							});
						});
					</script>
    			{% else %}
    				<div class="entry-mycustom"><span>{% autoescape off %}{{ blog.content_html}}{% endautoescape %}</span></div>
    			{% endif %}
    		</div> 
		</article>
	{% endfor %}
	
	<nav id="pagination">
		{% if blogs.has_previous %}
		<a href="?page={{blogs.previous_page_number}}" class="alignleft prev">上一页&nbsp&nbsp></a>
		{% endif %}
		{% if blogs.has_next %}
		<a href="?page={{blogs.next_page_number}}" class="alignright next">下一页&nbsp&nbsp></a>
		{% endif %}
		<div class="clearfix"></div>
	</nav>
	{% if not blogs %}
		<article class="post">
			<span id="none">暂无文章</span>
		</article>
	{% endif %}	
{% endblock %}

